.contanier{
    border: solid 1px;
    text-align: center;
    margin: 0 auto;
    width: 700px;
    height: 234px;
    position: relative;
    padding-top: 73px;
}
.contanier a{
    position: absolute;
    right: 10%;
    top: 8%;
}

.Head-text{
    width: 300px;
border-style: solid;
border-top:0px ;
border-right: 0px ;
border-left: 0px ;
}
button{
    width: 50px;
    cursor: pointer;
    width: 100px;
    height: 30px;
  
}
.button-color{
     
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 40px;
     
}
.Color-text{
float: right;
margin-right: 107px;
width: 178px;
}